.chart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.chart-container3 {
  width: 45vw;
  height: 65vh;
  margin-left: 5px;
}

.chart-container4 {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.chart-container2 {
  width: 400px;
  height: 300px;
}

.content {
  font-family: "Roboto", sans-serif;
  // background-color: #f7f7f7;
  padding: 20px;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  gap: 10px;
  margin: 2px;
  // align-items: stretch;
  // justify-content: center;
  // align-items: center;
}

// .summary-metrics {
//   display: grid;
//   grid-template-columns: repeat(
//     auto-fit,
//     minmax(400px, 1.5fr)
//   ); /* Adjust as needed */
//   gap: 10px;
//   margin: 2px;
// }

.chart-container {
  flex: 1 0 auto; /* Allow cards to grow and shrink*/
  min-width: 200px; /* Prevent becoming too small on tiny screens */
  max-width: 45rem;
  height: 25rem;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* In case the chart exceeds the card boundaries */
  transition: box-shadow 0.3s ease-in-out;
}

.chart-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

canvas {
  width: 100% !important;
  min-height: 300px;
  height: auto !important;
}

:host ::ng-deep .custom-card .p-card .p-card-body {
  margin-bottom: 1rem;
}

:host ::ng-deep .custom-card .p-card {
  flex: 1 0 30%; /* Cards can grow, shrink, starting width around 30% */
  min-width: 150px;
  transition: box-shadow 0.3s ease-in-out;
}

// .summary-metrics {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

@media (max-width: 1668px) {
  .chart-container {
    width: 45vw;
    height: 25vh;
    margin-left: 5px;
  }
}

/* Enhance the interactivity */
// [class*="p-col-"] {
//   transition: transform 0.2s ease-in-out;
// }

// [class*="p-col-"]:hover {
//   transform: translateY(-5px); /* Slight lift effect on hover */
// }

:host ::ng-deep .custom-card .p-card-content {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  margin: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: auto;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0.5em; /* Reduce padding to make the card less bulky */
  overflow: hidden; /* In case the chart exceeds the card boundaries */
}

:host ::ng-deep .p-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .p-card-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1em;
  background-color: #f4f4f4;
  border-bottom: 1px solid #dcdcdc;
}

.dashboard-container [pDraggable] {
  cursor: move;
  // border: 1px solid #ccc;
  // padding: 10px;
  // background-color: white;
  // margin-bottom: 10px;
}
