<ion-content>
  <div class="dashboard-container">
    <!--
    <ion-grid class="chart-container">
      <ion-row>
        <ion-col size="3" *ngFor="let header of ['Energy Consumption', 'Room Temperature', 'Humidity', 'Occupancy']">
          <ion-label>{{header}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let data of [energyData1]">
        <ion-col size="3">{{ data.energyConsumption }}</ion-col>
        <ion-col size="3">{{ data.roomTemperature }}</ion-col>
        <ion-col size="3">{{ data.humidity }}</ion-col>
        <ion-col size="3">{{ data.occupancy }}</ion-col>
      </ion-row>
    </ion-grid> -->

    <!-- <div class="chart-container">
      <h2>Real Time Energy Consumption</h2>
      <canvas baseChart [datasets]="realTimeChartData" [labels]="realTimeChartLabels" [type]="'bar'"></canvas>
    </div>

    <div class="chart-container" *ngIf="historicalChartData && historicalChartData[0].data.length">
      <h2>Historical Energy Consumption</h2>
      <canvas baseChart [datasets]="historicalChartData" [labels]="historicalChartLabels" [options]="historicalChartOptions" [type]="'line'"></canvas>
    </div>

    <div class="chart-container">
      <h3>Occupancy Trends</h3>
      <canvas baseChart [datasets]="occupancyChartData" [labels]="occupancyChartLabels" [options]="occupancyChartOptions" [type]="'line'"></canvas>
    </div> -->

    <div class="chart-container">
      <h2>Real Time Energy Consumption</h2>
      <div echarts [initOpts]="initOpts" [options]="realTimeChartOption" [autoResize]="true" class="chart-container3">
      </div>
    </div>

    <div class="chart-container">
      <h2>Historical Energy Consumption</h2>
      <div echarts [initOpts]="initOpts" [options]="historicalChartOptions" [autoResize]="true"
        class="chart-container3"></div>
    </div>

    <div class="chart-container">
      <h3>Occupancy Trends</h3>
      <div echarts [initOpts]="initOpts" [options]="occupancyTrendsOption" [autoResize]="true" class="chart-container3">
      </div>
    </div>

    <div class="chart-container">
      <h3>Temperature Heatmap</h3>
      <div echarts [initOpts]="initOpts" [options]="heatmapOptions" [autoResize]="true" class="chart-container3"></div>
    </div>

  </div>
</ion-content>