<!-- <ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>Smart Building Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Real-time Energy Usage</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-explore-container></app-explore-container>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>IoT Device Control</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4" *ngFor="let device of devices">

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>


  <ion-modal [(isOpen)]="displayDialog">
    <ion-header>
      <ion-toolbar>
        <ion-title>Device Details</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeDialog()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    </ion-content>
  </ion-modal>
</ion-content> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Building Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--  <ion-grid>-->
  <!--    <ion-row>-->
  <!--      <ion-col size="12" size-md="6" size-lg="4">-->
  <!--        <ion-card>-->
  <!--          <ion-card-header>-->
  <!--            <ion-card-title>Real-time Energy Usage</ion-card-title>-->
  <!--          </ion-card-header>-->
  <!--          <ion-card-content>-->
  <!--            <app-explore-container></app-explore-container>-->
  <!--          </ion-card-content>-->
  <!--        </ion-card>-->
  <!--      </ion-col>-->
  <!--    </ion-row>-->
  <!--</ion-grid>-->

  <app-explore-container></app-explore-container>



</ion-content>