<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>

    <!-- <ion-segment slot="secondary">
      <ion-segment-button *ngFor="let item of items" [value]="item.url">
        <ion-icon [name]="item.icon"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <ion-title class="secondary" slot="secondary">
      Smart-Building Management
    </ion-title>

    <ion-buttons slot="end">

      <!-- <ion-button fill="clear" icon-only>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge color="danger">5</ion-badge>
      </ion-button> -->
      <ion-button fill="clear" icon-only>
        <img src="assets/Smart-building_Management_System1.png" alt="Logo" class="logo">
        <ion-badge color="danger">5</ion-badge>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <img src="assets/user-avatar.png" class="profile-image" alt="User Avatar" />
      <ion-label class="username">John Doe</ion-label>
      <ion-button fill="clear" icon-only>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
      <ion-button fill="clear" icon-only>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
